<template>
    <v-layout row wrap pa-5>
        <v-flex xs12>
            <Header
                :title="'NUESTRO PROCESO DE TRABAJO'"
                :under-line-color="$vuetify.theme.currentTheme.primary"
            />
        </v-flex>
        <v-flex xs12>
            <v-img :src="require('@/assets/working-process.jpg')"/>
        </v-flex>
    </v-layout>
</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import Component from "vue-class-component";
    import Header from "@/components/Header.vue"

    @Component({
        components: {
            Header
        }
    })
    export default class OurWorkProcess extends Vue {

    }
</script>
