<template>
    <div class="pa-5">
        <EmotiveHeader
             :title="'MARCAS POPULARES'"
             :background-color="$vuetify.theme.currentTheme.accent"
        />
        <HorizontalGenericList
             :items="brands"
             :on-item-click="displayProductsByBrand"
        />
    </div>
</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import Component from "vue-class-component";
    import EmotiveHeader from "@/components/EmotiveHeader.vue"
    import HorizontalGenericList from "@/components/HorizontalGenericList.vue";
    import GenericItemsService from "@/services/GenericItemsService";

    @Component({
        components: {
            EmotiveHeader,
            HorizontalGenericList
        }
    })
    export default class PopularBrands extends Vue {
        sectionId = "POPULARBRANDSX0001"
        brands: Array<object> = []

        retrievePopularBrands = () => {
            GenericItemsService.getListOfItemsById(this.sectionId)
                .then((brands) => {
                    brands.forEach((brand: object) => {
                        this.brands.push(brand)
                    })
                })
        }

        //TODO: Implement router navigation
        displayProductsByBrand = (id: string) => {
            alert(id)
        }

        beforeMount() {
            this.retrievePopularBrands()
        }
    }
</script>
