<template>
    <div class="pa-0">
        <EmotiveHeader
             :title="'LO MÁS VENDIDO'"
             :background-color="$vuetify.theme.currentTheme.primary"
        />
        <HorizontalProductsList
            :products="productList"
            :on-item-click="displayProduct"
            :on-item-added-to-shopping-cart="addToShoppingCart"
        />
    </div>
</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import Component from "vue-class-component";
    import EmotiveHeader from "@/components/EmotiveHeader.vue"
    import HorizontalProductsList from "@/components/HorizontalProductsList.vue";
    import GenericItemsService from "@/services/GenericItemsService";

    @Component({
        components: {
            EmotiveHeader,
            HorizontalProductsList
        }
    })
    export default class TheMostSold extends Vue {
        sectionId = "THEMOSTSOLDX0001"
        productList: Array<object>  = []

        //TODO: Implement router navigation
        displayProduct = (id: string) => {
            alert(id)
        }

        //TODO: Implement local storage to handle shopping cart
        addToShoppingCart = (id: string) => {
            alert("Agregado al carrito")
        }

        retrieveProducts = () => {
            GenericItemsService.getListOfItemsById(this.sectionId)
                .then((products) => {
                    products.forEach((product: object) => {
                        this.productList.push(product)
                    })
                })
        }

        beforeMount() {
            this.retrieveProducts()
        }
    }
</script>
