<template>
    <div class="pa-5">
        <Header
                :title="'ELIJE TU DIETA'"
                :under-line-color="$vuetify.theme.currentTheme.primary"
        />
        <HorizontalGenericList
             :items="dietOptions"
             :on-item-click="displayDiet"
        />
    </div>
</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import Component from "vue-class-component";
    import Header from "@/components/Header.vue"
    import HorizontalGenericList from "@/components/HorizontalGenericList.vue";
    import GenericItemsService from "@/services/GenericItemsService";

    @Component({
        components: {
            Header,
            HorizontalGenericList
        }
    })
    export default class YourDiet extends Vue {
        sectionId = "YOURDIETX0001"
        dietOptions: Array<object> = []

        retrieveDietOptions = () => {
            GenericItemsService.getListOfItemsById(this.sectionId)
                .then((dietOptions) => {
                    dietOptions.forEach((option: object) => {
                        this.dietOptions.push(option)
                    })
                })
        }

        //TODO: Implement router navigation
        displayDiet = (id: string) => {
            alert(id)
        }

        beforeMount() {
            this.retrieveDietOptions()
        }
    }
</script>
