<template>
    <v-layout row wrap>
        <v-flex xs12>
            <v-carousel
                    cycle
                    continuous
            >
                <v-carousel-item
                        v-for="(image, i) in images"
                        :key="i"
                        :src="image"
                        reverse-transition="reverse-transition"
                        transition="fade-transition"
                >
                </v-carousel-item>
            </v-carousel>
        </v-flex>
    </v-layout>
</template>

<script lang="ts">
import { Vue, Prop } from 'vue-property-decorator';
import Component from "vue-class-component";

@Component
export default class Banner extends Vue {
    @Prop({default: []})
    images: Array<string> = []
}
</script>
