<template>
    <v-layout row wrap pa-5>
        <v-flex xs12>
            <h1
                class="headline text-center font-weight-bold"
                :style="headerClass"
            >
                {{title}}
            </h1>
        </v-flex>
    </v-layout>
</template>

<script lang="ts">
    import { Vue, Prop } from 'vue-property-decorator';
    import Component from "vue-class-component";

    @Component
    export default class EmotiveHeader extends Vue {
        @Prop({default: ""})
        title!: string
        @Prop({default: "primary"})
        backgroundColor!: string

        headerClass = {
            backgroundColor: this.backgroundColor,
            paddingTop: "10px",
            paddingBottom: "10px",
            marginLeft: "20vw",
            marginRight: "20vw",
        }
    }
</script>
