<template>
    <v-footer
        padless
        height="auto"
        :style="footerClass"
    >
        <v-card
            flat
            tile
            width="100%"
            class="text-center pt-5"
        >
            <v-card-text>
                <v-btn
                   v-for="link in links"
                   :key="link"
                   color="secondary"
                   text
                   rounded
                   class="my-2"
                >
                    {{link.value}}
                </v-btn>
            </v-card-text>

            <v-card-text>
                <v-btn
                   v-for="socialNetwork in socialNetworks"
                   :key="socialNetwork"
                   class="mx-4 primary"
                   icon
                   @click="redirectTo(socialNetwork.url)"
                >
                    <v-icon size="24px">{{socialNetwork.icon}}</v-icon>
                </v-btn>
            </v-card-text>

            <v-divider/>
            <v-card-text class="primary">
                ©Organic market - {{ new Date().getFullYear() }}
            </v-card-text>
        </v-card>
    </v-footer>
</template>

<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import Component from "vue-class-component";
    import SocialNetworksService from "@/services/SocialNetworksService";

    @Component({
        components: {
        }
    })
    export default class Footer extends Vue {
        links = [
            {
                value: "Nosotros",
                event: "onAboutUsLaunched"
            },
            {
                value: "Aviso de privacidad",
                event: "onPrivacyPoliticLaunched"
            },
            {
                value: "Contacto",
                event: "onContactLaunched"
            }
        ]

        socialNetworks: Array<object> = []

        footerClass = {
            borderTopColor: this.$vuetify.theme.currentTheme.primary,
            borderTopWidth: "1px",
            borderTopStyle: "solid"
        }

        redirectTo = (url: string) => {
            window.open(url, '_blank')
        }

        retrieveSocialNetworks = () => {
            SocialNetworksService.getSocialNetworks()
                .then(socialNetworks => {
                    socialNetworks.forEach((socialNetwork: object) => {
                        this.socialNetworks.push(socialNetwork)
                    })
                })
        }

        beforeMount() {
            this.retrieveSocialNetworks()
        }
    }
</script>
