<template>
    <v-card
        class="mx-auto v-card--hover"
        max-width="344"
        height="300px"
        flat
        @click="onClick(id)"
    >
        <v-img
            :src="image"
            height="200px"
        />
        <v-card-title class="justify-center">
            {{name}}
        </v-card-title>
        <v-card-subtitle class="justify-center">
            {{description}}
        </v-card-subtitle>
    </v-card>
</template>

<script lang="ts">
    import { Vue, Prop } from 'vue-property-decorator';
    import Component from "vue-class-component";

    @Component
    export default class GenericListItem extends Vue {
        @Prop({default: ""})
        id!: string
        @Prop({default: ""})
        image!: string
        @Prop({default: ""})
        name!: string
        @Prop({default: ""})
        description!: string
        @Prop({default: () => { console.log('Function is not defined') }})
        onClick!: Function
    }
</script>
