<template>
    <v-layout row wrap pa-5>
        <v-flex xs12>
            <h1
                class="headline text-center grey--text font-weight-bold">
                {{title}}
            </h1>
        </v-flex>
        <v-flex xs12>
            <div :style="lineClass"></div>
        </v-flex>
    </v-layout>
</template>

<script lang="ts">
import { Vue, Prop } from 'vue-property-decorator';
import Component from "vue-class-component";

@Component
export default class Header extends Vue {
    @Prop({default: ""})
    title!: string
    @Prop({default: "primary"})
    underLineColor!: string

    lineClass = {
        "background-color": this.underLineColor,
        "width": "12vw",
        "height": "8px",
        "margin": "0 auto"
    }
}
</script>
