<template>
    <div class="_list">
        <v-container fluid>
            <v-layout row>
                <v-flex xs12>
                    <div class="scroll d-flex">
                        <ProductListItem
                                class="pa-5"
                                v-for="(product, i) in products"
                                :key="i"
                                :id="product.id"
                                :image="product.image"
                                :name="product.name"
                                :brand="product.brand"
                                :price="product.price"
                                :is-available="product.isAvailable"
                                :on-click="onItemClick"
                                :on-add-to-shopping-cart="onItemAddedToShoppingCart"
                        />
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script lang="ts">
    import { Vue, Prop } from 'vue-property-decorator';
    import Component from "vue-class-component";
    import ProductListItem from "@/components/ProductListItem.vue";

    @Component({
        components: {
            ProductListItem
        }
    })
    export default class HorizontalProductsList extends Vue {
        @Prop({default: []})
        products: Array<object> = []
        @Prop({default: () => { console.log('Function is not defined') }})
        onItemClick!: Function
        @Prop({default: null})
        onItemAddedToShoppingCart!: Function
    }
</script>

<style scoped>
    ._list >>> .scroll {
        min-width: 100%;
        min-height: 350px;
        overflow-x: auto;
    }
</style>
