<template>
    <div class="_list">
        <v-container fluid>
            <v-layout row>
                <v-flex xs12>
                    <div class="scroll d-flex">
                        <GenericListItem
                                class="pa-5"
                                v-for="(item, i) in items"
                                :key="i"
                                :id="item.id"
                                :image="item.image"
                                :name="item.name"
                                :description="item.description"
                                :on-click="onItemClick"
                        />
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script lang="ts">
    import { Vue, Prop } from 'vue-property-decorator';
    import Component from "vue-class-component";
    import GenericListItem from "@/components/GenericListItem.vue";

    @Component({
        components: {
            GenericListItem
        }
    })
    export default class HorizontalGenericList extends Vue {
        @Prop({default: []})
        items: Array<object> = []
        @Prop({default: () => { console.log('Function is not defined') }})
        onItemClick!: Function
    }
</script>

<style scoped>
    ._list >>> .scroll {
        min-width: 100%;
        min-height: 350px;
        overflow-x: auto;
    }
</style>
