<template>
    <v-card
        class="mx-auto"
        max-width="344"
        height="auto"
        flat
    >
        <v-img
            :src="image"
            height="200px"
            class="v-card--hover"
            @click="onClick(id)"
        />
        <v-card-subtitle class="text-center pa-0 ma-0">
            {{name}}
        </v-card-subtitle>
        <p
            class="font-weight-bold text-center"
            :style="brandClass"
        >
            {{brand}}
        </p>
        <p
            class="font-weight-bold text-center"
        >
            ${{price}} MXN
        </p>
        <div class="text-center">
            <v-chip
                    v-if="!isAvailable"
                    class="white--text"
                    :color="$vuetify.theme.currentTheme.warning"
            >
                Agotado
            </v-chip>
        </div>
        <div class="text-center ma-2">
            <v-btn
                v-if="onAddToShoppingCart && isAvailable"
                :color="$vuetify.theme.currentTheme.accent"
                style="color: white"
                @click="onAddToShoppingCart(id)"
            >
                Agregar al carrito
            </v-btn>
        </div>
    </v-card>
</template>

<script lang="ts">
    import { Vue, Prop } from 'vue-property-decorator';
    import Component from "vue-class-component";

    @Component
    export default class ProductListItem extends Vue {
        @Prop({default: ""})
        id!: string
        @Prop({default: ""})
        image!: string
        @Prop({default: ""})
        name!: string
        @Prop({default: ""})
        brand!: string
        @Prop({default: ""})
        price!: string
        @Prop({default: ""})
        isAvailable!: boolean
        @Prop({default: () => { console.log('Function is not defined') }})
        onClick!: Function
        @Prop({default: null})
        onAddToShoppingCart!: Function

        brandClass = {
            color: this.$vuetify.theme.currentTheme.secondary
        }
    }
</script>
