<template>
    <section>
        <Banner :images="bannerImages"/>
        <YourDiet/>
        <TheMostSold/>
        <PopularBrands/>
        <OurWorkProcess/>
    </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Banner from "@/components/Banner.vue";
import YourDiet from "@/views/Landing/components/YourDiet.vue";
import TheMostSold from "@/views/Landing/components/TheMostSold.vue";
import PopularBrands from "@/views/Landing/components/PopularBrands.vue"
import OurWorkProcess from "@/views/Landing/components/OurWorkProcess.vue";
import BannerService from "@/services/BannerService";

@Component({
    components: {
        Banner,
        YourDiet,
        TheMostSold,
        PopularBrands,
        OurWorkProcess
    },
})
export default class Landing extends Vue {
    bannerImages: Array<string> = []

    retrieveBannerImages = () => {
        BannerService.getLandingBanners()
            .then((images) => {
                images.forEach((image: string) => {
                    this.bannerImages.push(image)
                })
            })
    }

    beforeMount() {
        this.retrieveBannerImages()
    }
}
</script>

<style scoped>

</style>
