<template>
  <v-app>
   <router-view/>
   <Footer/>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Footer from "@/components/Footer.vue";

export default Vue.extend({
  name: 'App',

  components: {
      Footer
  },

  data: () => ({
    //
  }),
});
</script>
